#myCanvas {
    width: 700px;
    height: 300px;
    border: 1px solid #5800ca;
    background-color: #ffffff;
    
}
body {
    background-color: #000000c9;
    
}
.Canvas {
    display: block;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: #000000;
}